.container {
    max-width: 34rem;
    padding: 0 1 rem;
    margin: 1rem auto 6rem;
    padding-top: 25px;
}

.layoutContainer {
    padding: 0 1 rem;
    margin: 3rem auto 6rem;
}

.header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.headerImage {
    width: 10rem;
    height: 10rem;
}

.headerHomeImage {
  width: 800px;
  height: 800px;
  justify-content: center;
 
}

.backtoHome {
    margin: 3rem 0 0;
}

