.heading2X1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingX1 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 50%;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #999;
}


.headerText {
    font-size: 10vw;
    text-align: center;
    font-weight: 600;
    
    position: absolute;
    font-family: forte;
    z-index: 2;
   
    


}



.headerText span span {
    position: relative;
    opacity: 0;
    animation: move-text 0.75s forwards;
}


.calendarClass {
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
    border-radius: 4px;
    width: 350px;
    max-width: 95vw;
    background: white;
    font: inherit;
    line-height: 1.125em;
    border: 0;
    overflow: hidden;
    position: absolute;
    top: 8vh;
    right:  3vw;
    padding:5px;
   
}

.calendarClass aria-labels {
    text-decoration: none;
}

.calendarTiles {
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    border: 0;
}

.calendarTiles :hover {
    color: #dc2f2f;
    font-weight: bold;
    cursor: pointer;
}

.calendarTiles  :focus {
    background: blue;
    color: white;
}

.calendarClass button {
    margin: 0;
    border: 0;
   
    background: none;
    font: inherit;
    font-size: 0.8em;
    height: 44px;
    margin-bottom: 10px;
}



@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; color: #34374c}
    50% { bottom: 0.2em; color: #dc2f2f}
     75% { color: #ff894c} 
    100% { bottom: 0; opacity: 1; color: #f8f8f8}
}

